<!DOCTYPE html>
<html>
<head>
  <title>BearFishRiver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
<%= link_to "Rivers", rivers_path %>
</div>

<%= yield %>

</body>
</html>